@charset "utf-8";

html {
  font-size: 18px;
  font-family: sans-serif;
  color: #393939;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  color: #393939;
  margin: 0;
  padding: 0;
}

div, p, h1, h2, h3, h4, ol, ul, figure {
  margin: 0;
  padding: 0;
}

p, td, th, li {
  line-height: 2.0;
  word-break: break-all;
}

img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

main h1 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2.4rem;
}

main h2 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2.2rem;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
}

.ul-contents {
  float: left;
  margin-bottom: 2rem;
  padding-left: 20px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}
li:before {
  content: '✓';
  float: left;
  margin-right: 2px;
}

.about {
  margin: 1rem 0;
}

.content {
  margin: 2rem 0;
  clear: left;
}

a {
  color: #774535;
}

a:hover {
  /* color: #fff; */
  text-decoration: none;
}

a:active {
  /* color: #fff; */
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  html,body {
    font-size: 14px;
  }

  img {
    position: absolute;
    margin-left: 15rem;
    margin-right: 3rem;
    width: 10rem;
  }
}
